/* app css stylesheet */
.gray{
  background-color: #4C9EF0;
  color: white;
}
.blue{
  background-color: #80D8FF;
  color: white;

}
.side-padding{
  padding: 0 10px;
}
.md-toolbar-tools{
  background-color: #55A0EF;
}
